body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  padding: 2em;
}

#app {
  width:65%;
  height:100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

span.item
{
    transition: transform 0.5s ease;
}

span.item.selected { 
    border-bottom:3px solid;
    transform: scale(1.3);
}

.eliminated {
    text-decoration:line-through;
    color:var(--pico-primary-border);
} 

nav {
    justify-content: unset;
    display: block;
}